* {
    background-color: rgb(184, 115, 51);
}


h1 {
    font-family: fantasy;
    text-align: center;

}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    border-radius: 25%;
  

}